
li a {
    color: green;
}
h1 {
    color: gray;
    text-align: center;
}

img {
    border: 6px solid transparent;
    min-height: 100px;
    min-height: 100px;
    object-fit: cover;
}

img:hover {
    border: 6px solid yellow;
}

.selected {
    border: 6px solid green;
}

.selected:hover {
    border: 6px solid red;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 3 equal-width columns */
    gap: 6px; /* Add space between images */
    justify-items: center; /* Center images horizontally */
    align-items: center; /* Center images vertically */
    margin: 2em;
}

.main-container {
    align-self: center; /* Center the main container vertically */
    justify-self: center; /* Center the main container horizontally */
    max-width: 800px; /* Limit the width of the main container */
}

.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 6px; /* Add space between buttons */
}

.button-container button {
    padding: 6px 12px; /* Add padding to the buttons */
    border: 1px solid black; /* Remove the default button border */
    background-color: #f0f0f0; /* Set the default button background color */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

/* make every other button darker*/
.button-container button:nth-child(odd) {
    background-color: #f0f0f0;
}

/* make every other button lighter*/
.button-container button:nth-child(even) {
    background-color: #f8f8f8;
}